#classData,#teacherDate,#studentDate,#noticeDate,#messageDate,#resetPassword{
    text-align: center;
    display: none;
}
#classData{
    display: block;
}
#resetPassword *{
    margin-top: 10px;
}
.row{
    background-color: #e6e6e6;
}
div{
    padding: 5px;
}
