#homeworkData,#messageDate,#resetPassword,#noticeDate{
    text-align: center;
    display: none;
}
#homeworkDataList,#messageDateList,#noticeDateList{
    padding-left: 15px;
}
#homeworkData{
    display: block;
}
.row{
    background-color: #e6e6e6;
}
div{
    padding: 5px;
}
#resetPassword *{
    margin-top: 10px;
}
.addMessageData{
    width: 100%;
    resize: none;
}
a{
    cursor: pointer;
}
.listColor{
     list-style: none
 }
#sidebar{
    position: absolute;
    left: 0px;
    top: 72px;
    background-color: #F1F1F1;
    bottom: 0px;
    border-right: solid 1px #CCCCCC;
    padding: 0px;
}
#list{
    position: absolute;
    right: 0px;
    padding-right: 30px;
    padding-left: 15px;
}
/*超出部分隐藏*/
.homeworkList{
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.homeworkList:hover{
    overflow: visible;
    white-space: normal;
}

