#homeworkData,#messageDate,#resetPassword,#noticeDate{
    text-align: center;
    display: none;
}
#homeworkData{
    display: block;
}
.row{
    background-color: #e6e6e6;
}
div{
    padding: 5px;
}
#resetPassword *{
    margin-top: 10px;
}
.addMessageData{
    width: 100%;
    resize: none;
}
a{
    cursor: pointer;
}
/*超出部分隐藏*/
.homeworkList{
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.homeworkList:hover{
    overflow: visible;
    white-space: normal;
}
.listColor{
    list-style: none
}