#classData,#teacherDate,#studentDate,#noticeDate,#messageDate,#resetPassword{
    text-align: center;
    display: none;
}
#classDataList,#teacherDataList,#studentDataList,#noticeDateList,#messageDateList{
    padding-left: 15px;
}
#classData{
    display: block;
}
#resetPassword *{
    margin-top: 10px;
}
.row{
    background-color: #e6e6e6;
}
div{
    padding: 5px;
}
.addNoticeData{
    width: 100%;
    resize: none;
}
a{
    cursor: pointer;
}
.listColor{
    list-style: none
}
#sidebar{
    position: absolute;
    left: 0px;
    top: 72px;
    background-color: #F1F1F1;
    bottom: 0px;
    border-right: solid 1px #CCCCCC;
    padding: 0px;
    text-align: center;
}
#list{
    position: absolute;
    right: 0px;
    padding-right: 30px;
    padding-left: 15px;
}
#sidebar .tab{
    background-color: inherit;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    font-size: 17px;
    border-left: #F1F1F1 3px solid;
}
#sidebar .tab:hover {
    background-color: #DDDDDD;
    border-left: #CCCCCC 3px solid;
}

#sidebar .tab.active {
    background-color: #CCCCCC;
    border-left: #666666 3px solid;
}