#assignHomeworkData,#studentHomeworkData,#messageDate,#noticeDate,#resetPassword{
    text-align: center;
    display: none;
}
#assignHomeworkDataList,#studentHomeworkDataList,#messageDateList,#noticeDateList{
    padding-left: 15px;
}
#assignHomeworkData{
    display: block;
}
.row{
    background-color: #e6e6e6;
}
div{
    padding: 5px;
}
#resetPassword *{
    margin-top: 10px;
}
.addHomeworkData{
    width: 100%;
    resize: none;
}
.addMessageData{
    width: 100%;
    resize: none;
}
a{
    cursor: pointer;
}
.listColor{
    list-style: none
}
#sidebar{
    position: absolute;
    left: 0px;
    top: 72px;
    background-color: #F1F1F1;
    bottom: 0px;
    border-right: solid 1px #CCCCCC;
    padding: 0px;
    text-align: center;
}
#list{
    position: absolute;
    right: 0px;
    padding-right: 30px;
    padding-left: 15px;
}